
body {
	margin: 25px;
	width: 700px;
}

h1 {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #4A4A4A;
	position: absolute;
	left: 450px;
	top: 260px;
}

h2 {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #4A4A4A;
	position: absolute;
	left: 450;
	top: 285px;
}

#text {
	position: absolute;
	left: 295px;
	top: 420px;
	width: 400px;
	margin-right: 25px;
}

#bio {
	text-align: justify;
}

p {
    font-family: Quattrocento, "Palatino Linotype", "Book Antiqua", serif;
    font-size: 15px;
    color: #515151;
    font-weight: 300;
    line-height: 150%;
}

img {
    max-width: 600px;
}

/* #### Mobile Phones Portrait or Landscape #### */

@media screen and (max-device-width: 640px){
  /* some CSS here */
}